In [1]:
import pandas as pd

import warnings

with warnings.catch_warnings():
    warnings.simplefilter("ignore")

In [2]:
DATA_DIR = './library-data'

In [3]:
bks = pd.read_csv(f'{DATA_DIR}/books_processed.csv')
cmrs = pd.read_csv(f'{DATA_DIR}/customers_processed.csv')
lbrs = pd.read_csv(f'{DATA_DIR}/libraries_processed.csv')
ckts = pd.read_csv(f'{DATA_DIR}/checkouts_processed.csv')

In [4]:
print(ckts.columns.values, ckts.shape[1])
print(bks.columns.values, bks.shape[1])
print(lbrs.columns.values, lbrs.shape[1])
print(cmrs.columns.values, cmrs.shape[1])

['checkout_id' 'customer_id' 'library_id' 'days_out_final' 'is_late'] 5
['id' 'book_title' 'book_authors' 'book_publisher' 'book_categories'
 'book_price' 'book_pages' 'book_age' 'book_age_category'] 9
['id' 'library_name' 'library_street_address' 'library_city'
 'library_region' 'library_postal_code'] 6
['id' 'customer_name' 'customer_street_address' 'customer_city'
 'customer_state' 'customer_zipcode' 'customer_occupation'
 'customer_education' 'customer_gender' 'customer_birth_date'
 'customer_age' 'customer_age_category'] 12

In [5]:
df = pd.merge(
    ckts,
    bks,
    left_on='checkout_id',
    right_on='id',
    how='left'
).drop(columns='id')

df.shape

(1544, 13)

In [6]:
df = pd.merge(
    df,
    lbrs,
    left_on='library_id',
    right_on='id',
    how='left'
).drop(columns='id')

df.shape

(1544, 18)

In [7]:
df = pd.merge(
    df,
    cmrs,
    left_on='customer_id',
    right_on='id',
    how='left'
).drop(columns='id')

df.tail(3)

,checkout_id,customer_id,library_id,days_out_final,is_late,book_title,book_authors,book_publisher,book_categories,book_price,...,customer_street_address,customer_city,customer_state,customer_zipcode,customer_occupation,customer_education,customer_gender,customer_birth_date,customer_age,customer_age_category
1541,F44fAQAAMAAJ,026262cc3454149303074c4113b5f118,226-222@5xc-jxj-7yv,10,0,michigan manufacturer & financial record,['unknown'],Unknown,['industries'],371.00,...,4436 NE Jarrett St,Portland,Oregon,972180,Education & Health,High School,Female,1812-03-13,213.0,Seniors
1542,Ci1HAQAAMAAJ,08b29865e58e9b2aabff9684a703acf0,223-222@5xc-jxr-tgk,19,0,modern electric railway practice: power statio...,['unknown'],Unknown,['electric railroads'],484.00,...,3232 SE 112th Ave,Portland,Oregon,972660,Unknown,Graduate Degree,Male,1980-08-23,44.0,Adults
1543,TUAyAQAAMAAJ,ac0bb7b22b4df999a0b1216ded727f8e,228-222@5xc-jtz-hwk,22,0,minnesota medicine,['unknown'],Unknown,['medicine'],267.99,...,424 NE Broadway St,Portland,Oregon,972320,Admin & Support,Others,Male,1962-12-28,62.0,Older Adults

In [8]:
df.to_csv(f'{DATA_DIR}/merged_processed.csv', index=False)